{% extends 'base.html.twig' %}

 {% block title %} Symfony React Project {% endblock %}

 {% block body %}

     <div id="root">
         Hello App! :) Monkeys.cloud
     </div>
     <div id='form'></div>

 {% endblock %}